/* 
   Alerts
   Refactor to include new color variables as well as sizes
*/

.alert { 
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .13em;
  text-transform: uppercase;
  padding: 15px;
}

.alert-small { 
  font-size: 11px;
  padding: 7px 15px;
}

.alert-black,
.alert-primary {
  color: #fff;
}