// Papriika

// Table of contents
// -------------------------------
// Color system                   // Jumbotron _jumbotron
// Options                        // Cards _card
// Spacing                        // Tooltips _tooltip
// Body                           // Popovers _popover
// Links                          // Toasts
// Paragraphs                     // Badges
// Grid breakpoints               // Modals
// Grid containers                // Alerts _alert
// Grid columns                   // Progress bars
// Components _components         // List group _list-group
// Typography _type               // Image thumbnails _images
// Tables _tabeles                // Figures
// Buttons + Forms                // Breadcrumbs
// Buttons                        // Carousel
// Forms _forms                   // Spinners
// Form validation                // Close
// Z-index master list            // Code _code
// Navs _navs                     // Utilities _utilities
// Navbar _navbar                 // Printing
// Dropdowns _dropdown            // Brand
// Pagination                     

@import "node_modules/bootstrap/scss/variables";
@import "./mixins/media-queries";

// Color system

$picotee-900:   #181846;

$theme-colors: (
  "primary":   #1700c4,
  "secondary": #eee,
  "black":     #000,
);

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "black":      $black,
    "picotee":    $picotee-900
  ),
  $theme-colors
);

$light:                           #fff;
$yiq-text-dark:                   $black;

// Body 

$body-bg:                         $white;
$body-color:                      $black;

// Links

$link-hover-color:                $gray-600;
$link-hover-decoration:           none;

// Brand

.brand-img {
  width: 110px;
}

@include respond-above(sm) {
  .brand-img {
    width: 120px;
  }
  .brand-img-md-pull-left {
    margin-left: -2px;
  }
}